#igbo-context-menu span {
    display: inline-block;
    width: 15px;
    text-align: center;
    padding: 3px 5px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#igbo-context-menu span:first-child {
    border-left: 1px solid #ccc;
}
